@using Microsoft.AspNetCore.Identity
@using CodePassio_Core.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<div id="sidebar" class="nav-collapse ">
    <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a href="profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
        <h5 class="centered">@UserManager.GetUserName(User)</h5>
        <li class="mt">
            <a class="active" href="/Index">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-desktop"></i>
                <span>Category management</span>
                <i class="fa fa-angle-down pull-right"></i>
            </a>
            <ul class="sub">
                <li><a asp-page="/Category/Create">Create</a></li>
                <li><a asp-page="/Category/Index">List</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-desktop"></i>
                <span>Tag management</span>
                <i class="fa fa-angle-down pull-right"></i>
            </a>
            <ul class="sub">
                <li><a asp-page="/Tag/Create">Create</a></li>
                <li><a asp-page="/Tag/Index">List</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-desktop"></i>
                <span>Post management</span>
                <i class="fa fa-angle-down pull-right"></i>
            </a>
            <ul class="sub">
                <li><a asp-page="/Post/Create">Create</a></li>
                <li><a asp-page="/Post/Index">List</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-desktop"></i>
                <span>Comment management</span>
                <i class="fa fa-angle-down pull-right"></i>
            </a>
            <ul class="sub">
                <li><a asp-page="/Comment/Index">List</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-desktop"></i>
                <span>User management</span>
                <i class="fa fa-angle-down pull-right"></i>
            </a>
            <ul class="sub">
                <li><a asp-page="/User/Index">List</a></li>
            </ul>
        </li>
    </ul>
</div>
