@page
@model CodePassio_Web.Pages.Post.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<!-- NEXT AND PREVIOUS ARTICLES -->
<div class="article-nav">
    <ul>
        <li>
            <a href="#" title="Next Article">
                <i class="pe-7s-angle-right"></i>
                <div>
                    <p>Next article</p>
                    <h3>ECMAScript 2016</h3>
                </div>

            </a>
        </li>
        <li>
            <a href="#" title="Previous Article">
                <i class="pe-7s-angle-left"></i>
                <div>
                    <p>Previous article</p>
                    <h3>Orange is the new Black</h3>
                </div>
            </a>
        </li>
    </ul>
</div>


<!-- MAIN -->
<main>

    <!-- ARTICLE BLOG POST -->
    <section class="articles articles-blog-post">
        <article class="articles-blog-post">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xs-12">

                        <!-- TEXT ARTICLE -->
                        <div class="articles-header">
                            <time datetime="2016-10-11">12 hours ago</time>
                            <span class="articles-header-tag-green">New</span>
                            <span class="articles-header-category"><a href="#" class="green" title="">Graphic</a></span>
                        </div>
                        <div class="articles-content">
                            <h1 class="articles-content-blog-post-title">
                                <a href="#" title="Keeping Your Business And Clients Safe With Digital Policies">
                                    Keeping
                                    Your Business And Clients Safe With Digital Policies
                                </a>
                            </h1>
                            <p>
                                Now that we have our view and component layer, we need something to manage state and the lifecycle of our application. Redux is
                                also a clear winner here.
                            </p>
                            <p>
                                Alongside React, Facebook presented a design pattern for one way data flow called Flux. Flux largely delivered on its promise of
                                simplifying state management, but it also brought with it more questions, such as how to store that state and where to do Ajax
                                requests. To answer those questions, countless frameworks were built on top of the Flux pattern: Fluxible, Reflux, Alt, Flummox,
                                Lux, Nuclear, Fluxxor and many, many more. One Flux-like implementation eventually caught the community’s attention, and for
                                good reasons: Redux.
                            </p>
                            <blockquote class="secondary-quote">
                                One thing to be careful is the natural instinct to try and abstract away the Redux boilerplate. There’s good reasons behind all
                                those pieces. Make sure you tried it and understand the <strong>“why”</strong> before trying to blindly improve on it.
                            </blockquote>

                            <div class="articles-content-block">
                                <h1>Why Javascript?</h1>
                                <p>
                                    JavaScript is the standard language of the web platform. Learning it will allow you to build any app you want for any device
                                    or
                                    platform you want. Watch this 1 minute video to learn more about what JavaScript can do for you:
                                </p>
                                <iframe class="vimeo-movie" src="https://player.vimeo.com/video/102553634" width="640" height="360" frameborder="0"
                                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                <h3 class="list-title">The essentials in order:</h3>
                                <ul>
                                    <li><span class="italic">Newbie friendly:</span> Make a Star Wars Game with Hour of Code (free website)</li>
                                    <li><span class="italic">Newbie friendly:</span> “JavaScript for Cats”, Max Ogden (free website)</li>
                                    <li>
                                        <span class="italic">Newbie friendly:</span> FreeCodeCamp’s 10-hour Basic JavaScript track You can come back to FCC for
                                        more practice while you explore the rest of these resources. I recommend that you dedicate time to study other resources
                                        and do some fresh FCC exercises every day. There are hundreds of hours of exercises, in total, covering a lot more than
                                        just JavaScript.
                                    </li>
                                    <li><span class="italic">Newbie friendly:</span> “JavaScript for Cats”, Max Ogden (free website)</li>
                                    <li>“Eloquent JavaScript: Second Edition”, Marijn Haverbeke (book with free online edition)</li>

                                </ul>
                            </div>

                            <div class="articles-content-block">
                                <h1>Why Universal?</h1>
                                <p>
                                    Nobody else has this understanding of the word isomorphic. Words are only useful if they communicate information, but they
                                    can only communicate information if we can agree on their definition.
                                </p>
                                <p>
                                    The troubling thing about the word “isomorphic” is that it already has a well understood definition in the context of
                                    functional programming, one of the pillar paradigms of JavaScript.
                                </p>
                                <p>
                                    Lots of people think of the mathematical / FP definition borrowed from category theory. An isomorphism is a pair of functions
                                    (morphisms) such that:
                                </p>

                                <pre><code class="language-js">var Prism = require('prismjs');

// The code snippet you want to highlight, as a string
var code = "var data = 1;";

// Returns a highlighted HTML string
var html = Prism.highlight(code, Prism.languages.javascript);</code></pre>
                                <p>
                                    In JavaScript, variables outside the scope of a top-level function are global (meaning, everyone can access them). Because of
                                    this, it’s common to have “namespace pollution”, where completely unrelated code shares global variables.
                                </p>
                                <pre><code class="language-js">example();</code></pre>
                                <p>Good luck!</p>
                            </div>
                        </div>
                    </div>


                    <!-- SHARE THIS BLOCK -->
                    <div class="col-lg-2 col-xs-12">
                        <div class="articles-blog-post-share">
                            <h3>Share this</h3>
                            <div>
                                <ul>
                                    <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
                                    <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i>Twitter</a></li>
                                    <li><a href="#" title="Google+"><i class="fa fa-google-plus"></i>Google+</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </section>
    <!-- end ARTICLE BLOG POST -->
    <!-- ARTICLE BOTTOM INFO -->
    <div class="articles-info">

        <!-- ARTICLE BOTTOM INFO AUTHOR -->
        <section class="articles-info-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xs-12">

                        <div class="articles-footer">
                            <ul class="articles-footer-info">
                                <li><a title="" href="#" class="light-link"><i class="pe-7s-comment"></i> 7 Response</a></li>
                                <li><a title="" href="#" class="light-link"><i class="pe-7s-like"></i> 1221</a></li>
                            </ul>
                            <button class="btn btn-light-blue"><a title="Write a response" href="#">Write a response</a></button>
                        </div>

                        <div class="articles-author">
                            <img src="img/profile-picture.png" alt="" data-rjs="2">
                            <div class="articles-author-right">
                                <h4>Bill Gates</h4>
                                <div class="social">
                                    <a href="" title="Twitter"><i class="icon-social_twitter_circle"></i></a>
                                    <a href="" title="Github"><i class="icon-social_github_circle"></i></a>
                                    <a href="" title="LinkedIn"><i class="icon-social_linkedin_circle"></i></a>
                                </div>
                                <p>
                                    Compassionate entrepreneur on a mission to end homelessness. #jshomes Javascript, tech education, electronic music,
                                    photography,
                                    film, viral apps.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ARTICLE BOTTOM INFO LAST ARTICLES -->
        <section class="articles-info-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="articles-info-section-title">Last Reads</h1>
                    </div>
                </div>
            </div>

            <div class="banners">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="banner-wrapper">
                                <a href="#" title="Angular 2 versus React: There Will Be Blood">
                                    <div class="banner-wrapper-content">
                                        <h1 class="h2">Angular 2 versus React: There Will Be Blood</h1>
                                        <span class="category-tag category-tag-yellow">Javascript</span>
                                        <time datetime="2016-03-01" class="">March 1, 2016</time>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="banner-wrapper">
                                <a href="#" title="Angular 2 versus React: There Will Be Blood">
                                    <div class="banner-wrapper-content">
                                        <h1 class="h2">The End of Global CSS</h1>
                                        <span class="category-tag category-tag-green">Graphic</span>
                                        <time datetime="2016-03-01" class="">March 13, 2016</time>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="banner-wrapper">
                                <a href="#" title="Angular 2 versus React: There Will Be Blood">
                                    <div class="banner-wrapper-content">
                                        <h1 class="h2">Building an CSS Framework</h1>
                                        <span class="category-tag category-tag-blue">CSS</span>
                                        <time datetime="2016-03-01" class="">March 24, 2016</time>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

        <!-- ARTICLE BOTTOM INFO COMMENTS -->
        <section class="articles-info-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xs-12">
                        <h1 class="articles-info-section-title">Responses <span class="italic">(7)</span></h1>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xs-12">
                        <div class="comments">
                            <!-- WRITE NEW COMMENT -->
                            <a title="" href="#" class="light-link comment button-comment">
                                <span class="button-comment-span"><i class="pe-7s-comment"></i> Write a response</span>
                            </a>

                            <!-- COMMENTS LIST -->
                            <ol>
                                <li>
                                    <div class="comment">
                                        <img src="img/profile-picture5.png" alt="Profile Picture" data-rjs="2">
                                        <div class="comment-content">
                                            <h3>Jacob Amaro</h3>
                                            <time datetime="2009-11-13T20:00Z">July 18, 2016 at 10:36 AM</time>
                                            <p>
                                                Music is one of the driving forces in my life. I pray you will not let this be the last concert you attend. Dolly
                                                Parton,
                                                Kenny Rogers, Alabama, Three Dog Night, the first Bryan Adams: Cut like A Knife. And many more. Those I have
                                                seen.
                                                Nothing else like it. So proud u share music w your kids.
                                            </p>
                                            <div class="comment-content-footer">
                                                <button class="btn btn-small"><a href="#" title="Watch it">Reply</a></button>
                                                <a title="Likes" href="#" class="light-link comment-content-footer-icon"><i class="pe-7s-like"></i> 0</a>
                                            </div>
                                        </div>
                                    </div>
                                    <ol class="comment-response">
                                        <li>
                                            <div class="comment">
                                                <img src="img/profile-picture6.png" alt="Profile Picture" data-rjs="2">
                                                <div class="comment-content">
                                                    <h3>Jacob Amaro</h3>
                                                    <time datetime="2009-11-13T20:00Z">July 18, 2016 at 10:36 AM</time>
                                                    <p>
                                                        <span class="italic">@@Jacob Amaro</span> My father would always play Matt Monro or Madonna or some other
                                                        classic CD every Sunday
                                                        morning, while my mom was cooking breakfast. It was always a good Sunday to wake up to. :)
                                                    </p>
                                                    <div class="comment-content-footer">
                                                        <button class="btn btn-small"><a href="#" title="Watch it">Reply</a></button>
                                                        <a title="Likes" href="#" class="light-link comment-content-footer-icon">
                                                            <i class="pe-7s-like"></i>
                                                            3
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a title="" href="#" class="light-link comment button-comment-center">
                                                <span class="button-comment-text">
                                                    Show more answers <i class="pe-7s-angle-down button-comment-text-right-icon"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ol>
                                </li>

                                <li class="comment">
                                    <img src="img/profile-picture7.png" alt="Profile Picture" data-rjs="2">
                                    <div class="comment-content">
                                        <h3>Mitchell Parison</h3>
                                        <time datetime="2009-11-13T20:00Z">July 20, 2016 at 16:32 AM</time>
                                        <p>Beatiful article! Very helpful!</p>
                                        <div class="comment-content-footer">
                                            <button class="btn btn-small"><a href="#" title="Watch it">Reply</a></button>
                                            <a title="Likes" href="#" class="light-link comment-content-footer-icon"><i class="pe-7s-like"></i> 124</a>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- end MAIN -->
