@page
@model CodePassio_Admin.Pages.Post.CreateModel

@{
    ViewData["Title"] = "Create";
}

<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-podcast" aria-hidden="true"></i>Add new post</h3>
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <form method="post" class="form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Post.Title" class="control-label"></label>
                            <input asp-for="Post.Title" class="form-control" />
                            <span asp-validation-for="Post.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Post.Excerpt" class="control-label"></label>
                            <textarea asp-for="Post.Excerpt" class="form-control"></textarea>
                            <span asp-validation-for="Post.Excerpt" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Post.Status" class="control-label"></label>
                            <input asp-for="Post.Status" class="form-control" />
                            <span asp-validation-for="Post.Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Post.Content" class="control-label"></label>
                            <textarea asp-for="Post.Content" rows="5" class="form-control"></textarea>
                            <span asp-validation-for="Post.Content" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Post.Tag" class="control-label"></label>
                            <input asp-for="Post.Tag" class="form-control" />
                            <span asp-validation-for="Post.Tag" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Post.CategoryId" class="control-label"></label>
                            <select asp-for="Post.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="Post.Deleted" />@Html.DisplayNameFor(model => model.Post.Deleted)
                                </label>
                            </div>
                        </div>
                        @* Unnecessary input box. These data should be populated in server. *@
                        @*<div class="form-group">
                            <label asp-for="Post.CreatedDate" class="control-label"></label>
                            <input asp-for="Post.CreatedDate" class="form-control" />
                            <span asp-validation-for="Post.CreatedDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Post.ModifiedDate" class="control-label"></label>
                            <input asp-for="Post.ModifiedDate" class="form-control" />
                            <span asp-validation-for="Post.ModifiedDate" class="text-danger"></span>
                        </div>*@
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/12.3.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
		.create( document.querySelector( '#Post_Content' ))
		.then( editor => {
			window.editor = editor;
		} )
		.catch( err => {
			console.error( err.stack );
		} );

    </script>
}
