@page
@model CodePassio_Admin.Pages.Post.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Excerpt" class="control-label"></label>
                <input asp-for="Post.Excerpt" class="form-control" />
                <span asp-validation-for="Post.Excerpt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Status" class="control-label"></label>
                <input asp-for="Post.Status" class="form-control" />
                <span asp-validation-for="Post.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Content" class="control-label"></label>
                <input asp-for="Post.Content" class="form-control" />
                <span asp-validation-for="Post.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Tag" class="control-label"></label>
                <input asp-for="Post.Tag" class="form-control" />
                <span asp-validation-for="Post.Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.CategoryId" class="control-label"></label>
                <select asp-for="Post.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Post.Deleted" /> @Html.DisplayNameFor(model => model.Post.Deleted))
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Post.CreatedDate" class="control-label"></label>
                <input asp-for="Post.CreatedDate" class="form-control" />
                <span asp-validation-for="Post.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.ModifiedDate" class="control-label"></label>
                <input asp-for="Post.ModifiedDate" class="form-control" />
                <span asp-validation-for="Post.ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
}
