@page
@model CodePassio_Web.Pages.AboutMeModel
<!-- MAIN -->
<main>
    <div class="container">
        <div class="row">

            <!-- General informations -->
            <div class="col-xs-12">
                <section class="general-info white-box">
                    <div class="author">
                        <img src="img/profile-picture.png" alt="" data-rjs="2">
                        <ul class="author-nav">
                            <li><a href="" title=""><i class="pe-7s-bookmarks"></i> Download my CV</a></li>
                            <li><a href="" title=""><i class="pe-7s-paper-plane"></i> Write message</a></li>
                        </ul>
                    </div>
                    <div class="general-info-right">
                        <h1>I’m Bill Gates</h1>
                        <div class="social">
                            <a href="" title="Twitter"><i class="icon-social_twitter_circle"></i></a>
                            <a href="" title="Github"><i class="icon-social_github_circle"></i></a>
                            <a href="" title="LinkedIn"><i class="icon-social_linkedin_circle"></i></a>
                        </div>
                        <div class="clear"></div>
                        <span class="general-info-right-author-info">Front-End Developer at Microsoft Company</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                            erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla corper suscipit lobortis nisl ut aliquip ex ea commodo
                            consequat. Duis autem vel eum iriure dolor in hendr rit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
                            nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
                            feugait nulla facilisi. Lorem ipsum dolor sitamet, consectetuer adipiscing elit.
                        </p>
                        <img src="img/signature.jpg" alt="" title="Author Signature" data-rjs="2">
                    </div>
                </section>
            </div>

            <!-- Details informations -->
            <div class="col-xs-12">
                <section class="detail-info white-box">
                    <div class="detail-info-philosophy">
                        <h2>My philoshopy</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                            erat volutpat.Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla corper suscipit lobortis nisl ut aliquip ex ea commodo
                            consequat.
                        </p>
                        <p>
                            Duis autem vel eum iriure dolor in hendr rit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
                            at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum.
                        </p>
                        <p>
                            Zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sitamet, consectetuer adipiscing elit. Ut wisi enim ad
                            minim veniam, quis nostrud exerci tation ulla
                            corper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <div class="detail-info-skills">
                        <h2>Skills</h2>
                        <ol>
                            <li>
                                <span>01</span>
                                <div class="detail-info-skills-right">
                                    <h3>HTML</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                        magna aliquam erat volutpat.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <span>02</span>
                                <div class="detail-info-skills-right">
                                    <h3>CSS</h3>
                                    <p>
                                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla corper suscipit lobortis nisl ut aliquip ex ea.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <span>03</span>
                                <div class="detail-info-skills-right">
                                    <h3>Javascript</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                        magna aliquam erat volutpat.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <span>04</span>
                                <div class="detail-info-skills-right">
                                    <h3>Angular 2</h3>
                                    <p>
                                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla corper suscipit lobortis nisl ut aliquip ex ea.
                                    </p>
                                </div>
                            </li>
                        </ol>
                    </div>
                </section>
            </div>

            <!-- Counters -->
            <div class="col-xs-12">
                <section class="counters white-box">
                    <div class="counters-one">
                        <span class="counters-one-icon"><i class="pe-7s-cart"></i></span>
                        <h2>2540</h2>
                        <p>Product sales</p>
                    </div>
                    <div class="counters-one">
                        <span class="counters-one-icon"><i class="pe-7s-news-paper"></i></span>
                        <h2>400</h2>
                        <p>Line of Code</p>
                    </div>
                    <div class="counters-one">
                        <span class="counters-one-icon"><i class="pe-7s-photo"></i></span>
                        <h2>8613</h2>
                        <p>Taking photos</p>
                    </div>
                    <div class="counters-one">
                        <span class="counters-one-icon"><i class="pe-7s-tools"></i></span>
                        <h2>1024</h2>
                        <p>Bug fixed</p>
                    </div>
                </section>
            </div>

        </div>
    </div>
</main>
<!-- end MAIN -->