@page
@model CodePassio_Web.Pages.BlogListModel
<!-- MAIN -->
<main>


    <div class="container">
        <div class="row">

            <!-- CATEGORY TITLE -->
            <div class="col-xs-12">
                <section class="category-title">
                    <h1>Graphic</h1>
                    <span>176 Articles</span>
                </section>
            </div>
            <!-- end CATEGORY TITLE -->
            <!-- ARTICLES -->
            <div class="col-lg-8 col-xs-12">
                <section class="articles">

                    <!-- TEXT ARTICLE -->
                    <article class="green-article">
                        <div class="articles-header">
                            <time datetime="2016-10-11">12 hours ago</time>
                            <span class="articles-header-tag">New</span>
                            <span class="articles-header-category"><a href="#" title="">Graphic</a></span>
                        </div>
                        <div class="articles-content">
                            <h1><a asp-page="/BlogPost" title="">10 Interview Questions Every JavaScript Developer Should Know</a></h1>
                            <p>
                                I was young, single, and freshly employed to direct National Journal’s Presentation Center, a searchable library of white-label
                                PowerPoint presentations on political and policy developments. By day, I led a team of fellows in creating data
                                visualizations...
                            </p>
                        </div>
                        <div class="articles-footer">
                            <ul>
                                <li><a href="#" title=""><i class="pe-7s-comment"></i> 7 Response</a></li>
                                <li><a href="#" title=""><i class="pe-7s-like"></i> 1221</a></li>
                            </ul>
                            <a title="" class="btn" href="">Read more</a>

                        </div>
                    </article>

                    <!-- IMAGE ARTICLE -->
                    <article class="green-article">
                        <img class="articles-preview-img" src="img/article-image.jpg" alt="" title="" data-rjs="2">
                        <div class="articles-header">
                            <time datetime="2016-10-11">12 hours ago</time>
                            <span class="articles-header-tag">New</span>
                            <span class="articles-header-category"><a href="#" title="">Graphic</a></span>
                        </div>
                        <div class="articles-content">
                            <h1><a asp-page="/BlogPost" title="">Keeping Your Business And Clients Safe With Digital Policies</a></h1>
                            <p>
                                Digital workers, especially web designers and developers, need to recognize that policy influences their products online much as
                                it does offline. Whatever the scale of our enterprise — whether a large corporation, small digital agency, software...
                            </p>
                        </div>
                        <div class="articles-footer">
                            <ul>
                                <li><a href="#" title=""><i class="pe-7s-comment"></i> 7 Response</a></li>
                                <li><a href="#" title=""><i class="pe-7s-like"></i> 1221</a></li>
                            </ul>
                            <a title="" class="btn" href="">Read more</a>

                        </div>
                    </article>

                    <article class="green-article">
                        <div id="articles-preview-img" class="owl-carousel articles-preview-img">
                            <div class="item"><img class="lazyOwl" src="img/article-image-2.jpg" alt="Article Image" data-rjs="2"></div>
                            <div class="item"><img class="lazyOwl" src="img/article-image.jpg" alt="Article Image" data-rjs="2"></div>
                        </div>
                        <div class="articles-header">
                            <time datetime="2016-10-11">12 hours ago</time>
                            <span class="articles-header-tag-green">New</span>
                            <span class="articles-header-category"><a href="#" class="green" title="">Graphic</a></span>
                        </div>
                        <div class="articles-content">
                            <h1><a asp-page="/BlogPost" title="">Freebie: Summer Icon Set (40 Icons, PNG, PDF, PSD, EPS, AI, SVG)</a></h1>
                            <p>
                                You deserve a vacation, don’t you think? Now, you might need icons on your website to indicate that you're away, or even use
                                some for your auto-reply. For whatever reason you decide to use today's icon set, we're sure they'll bring happy...
                            </p>
                        </div>
                        <div class="articles-footer">
                            <ul>
                                <li><a href="#" title=""><i class="pe-7s-comment"></i> 7 Response</a></li>
                                <li><a href="#" title=""><i class="pe-7s-like"></i> 1221</a></li>
                            </ul>
                            <a title="" class="btn" href="">Read more</a>

                        </div>
                    </article>


                    <article class="green-article">
                        <div class="articles-header">
                            <time datetime="2016-10-11">12 hours ago</time>
                            <span class="articles-header-tag-green">New</span>
                            <span class="articles-header-category"><a href="#" class="green" title="">Graphic</a></span>
                        </div>
                        <div class="articles-content">
                            <h1><a asp-page="/BlogPost" title="">Post with nice quote</a></h1>
                            <blockquote cite="" class="primary-quote">
                                Believe in yourself! Have faith in your abilities! Without a humble but reasonable confidence in your own powers you cannot be
                                successful or happy. <span class="primary-quote-author">- Norman Vincent Peale, 1987</span>
                            </blockquote>
                        </div>
                        <div class="articles-footer">
                            <ul>
                                <li><a href="#" title=""><i class="pe-7s-comment"></i> 7 Response</a></li>
                                <li><a href="#" title=""><i class="pe-7s-like"></i> 1221</a></li>
                            </ul>
                            <a title="" class="btn" href="">Read more</a>

                        </div>
                    </article>


                    <article class="green-article">
                        <div class="articles-preview-vimeo">
                            <iframe src="https://player.vimeo.com/video/69448832?color=6dc8bf&amp;title=0&amp;byline=0&amp;portrait=0"
                                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <div class="articles-header">
                            <time datetime="2016-10-11">12 hours ago</time>
                            <span class="articles-header-tag-green">New</span>
                            <span class="articles-header-category"><a href="#" class="green" title="">Graphic</a></span>
                        </div>
                        <div class="articles-content">

                                        <!-- WRITE RESPONSE -->
                            <h1><a asp-page="/BlogPost" title="">Font Loading Strategies, Scaling SVGs Vectors </a></h1>
                            <p>
                                I love articles that specifically focus on tiny little details within web development. For example, this week I stumbled upon an
                                article featuring all the fine details about scheduling in requestAnimationFrame. Another gem I discovered is...
                            </p>
                        </div>
                        <div class="articles-footer">
                            <ul>
                                <li><a href="#" title=""><i class="pe-7s-comment"></i> 7 Response</a></li>
                                <li><a href="#" title=""><i class="pe-7s-like"></i> 1221</a></li>
                            </ul>
                            <a title="" class="btn" href="">Read more</a>

                        </div>
                    </article>


                    <!-- PAGINATION -->
                    <nav aria-label="...">
                        <button class="btn-small-white pagination-back"><a title="" href="">Back</a></button>
                        <ul class="pagination">
                            <li class="page-item active">
                                <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item page-item-more"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">25</a></li>
                        </ul>
                        <button class="btn-small-white pagination-next"><a title="" href="">Next</a></button>
                    </nav>

                </section>
            </div>

            <!-- AUTHOR -->
            <div class="aside-blocks col-lg-4 col-xs-12">
                <aside class="author">
                    <img src="img/profile-picture.png" alt="" data-rjs="2">
                    <h2>Bill Gates</h2>
                    <span class="author-info">Front-End Developer</span>
                    <span class="author-info">Microsoft Company</span>
                    <div class="social">
                        <a href="" title="Twitter"><i class="icon-social_twitter_circle"></i></a>
                        <a href="" title="Github"><i class="icon-social_github_circle"></i></a>
                        <a href="" title="LinkedIn"><i class="icon-social_linkedin_circle"></i></a>
                    </div>
                    <ul class="author-nav">
                        <li><a href="" title=""><i class="pe-7s-bookmarks"></i> Download my CV</a></li>
                        <li><a href="" title=""><i class="pe-7s-paper-plane"></i> Write message</a></li>
                    </ul>
                </aside>

                <aside class="categories">
                    <h2 class="aside-title">Categories</h2>
                    <ul>
                        <li class="nav-elipse-blue"><a href="#" title="Blog CSS articles">CSS</a></li>
                        <li class="nav-elipse-red"><a href="#" title="Blog HTML articles">HTML</a></li>
                        <li class="nav-elipse-yellow"><a href="#" title="Blog Javascript articles">Javascript</a></li>
                        <li class="nav-elipse-green"><a href="#" title="Blog raphic articles">Graphic</a></li>
                        <li><a href="#" title="Blog other articles">Other</a></li>
                    </ul>
                </aside>

                <aside class="advertisement">
                    <a href=""><img src="img/advertisement.jpg" alt="Advertisement" data-rjs="2"></a>
                </aside>

                <aside class="last-project">
                    <h2 class="aside-title">Last Project</h2>
                    <div class="last-project-one">
                        <h3 class="h4"><a href="">Microsoft TypeScript</a></h3>
                        <time datetime="">January 18, 2016</time>
                        <p class="font-primary">TypeScript starts from the same syntax and semantics that millions of JavaScript developers know... </p>
                        <button class="btn btn-small"><a href="">Watch it</a></button>
                    </div>
                </aside>

                <aside class="tags">
                    <h2 class="aside-title">Tags</h2>
                    <div class="tags-content">
                        <span class="tag tag-pill tag-default"><a href="">graphic</a></span>
                        <span class="tag tag-pill tag-default"><a href="">angular2</a></span>
                        <span class="tag tag-pill tag-default"><a href="">graphic</a></span>
                        <span class="tag tag-pill tag-default"><a href="">react</a></span>
                        <span class="tag tag-pill tag-default"><a href="">it</a></span>
                        <span class="tag tag-pill tag-default"><a href="">science</a></span>
                    </div>
                </aside>

            </div>
        </div>
    </div>
</main>
<!-- end MAIN -->
