@page
@model CodePassio_Web.Pages.ShopModel

<!-- MAIN -->
<main>
    <div class="container">
        <div class="row">

            <!-- CATEGORY TITLE -->
            <div class="col-xs-12">
                <section class="category-title">
                    <h1>Shop</h1>
                    <span>17 Products</span>
                </section>
            </div>
            <!-- end CATEGORY TITLE -->
            <!-- PORTFOLIO MENU -->
            <div class="col-xs-12">
                <nav class="portfolio-menu">
                    <ul>
                        <li class="active"><a href="#" title="All" class="light-link" data-portfolio="all">All</a></li>
                        <li><a href="#" title="Applications" class="light-link" data-portfolio="wp">Wordpress</a></li>
                        <li><a href="#" title="Frameworks" class="light-link" data-portfolio="prestashop">PrestaShop</a></li>
                        <li><a href="#" title="Scripts" class="light-link" data-portfolio="html">HTML</a></li>
                        <li><a href="#" title="Layouts" class="light-link" data-portfolio="psd">PSD Templates</a></li>
                        <li><a href="#" title="Graphic" class="light-link" data-portfolio="php">PHP Scripts</a></li>
                    </ul>
                </nav>
            </div>

            <!-- PORTFOLIO -->
            <div class="col-xs-12">
                <div class="portfolio">
                    <p class="portfolio-empty"><i class="pe-7s-attention"></i> No items at this category. Sorry!</p>
                    <div class="portfolio-item shop-item white-box" data-portfolio="psd">
                        <div class="portfolio-item-wrapper">
                            <div class="portfolio-item-wrapper-left">
                                <h2>StylePress</h2>
                                <span class="portfolio-category">PSD Templates</span>
                                <p class="shop-item-desc font-primary">StylePress is premium News. Magazine and Blog PSD Template. It comes with 10 Homepage Variations, 6 Single Post Variations and Lots of other Page Templates. Its Best for Newspaper, Magazine, Blog.</p>
                                <p class="portfolio-item-price">$70<sup>00</sup></p>
                                <span class="portfolio-item-sales">87 Sales</span>
                                <div class="portfolio-item-wrapper-left-footer">
                                    <button class="btn btn-buy"><i class="pe-7s-cart"></i> Buy now</button>
                                    <button class="btn">Screenshots</button>
                                </div>
                            </div>
                            <div class="portfolio-item-wrapper-right">
                                <img class="img-fluid" src="img/shop-image.jpg" alt="" data-rjs="2">
                            </div>
                        </div>
                    </div>


                    <div class="portfolio-item shop-item white-box" data-portfolio="html">
                        <div class="portfolio-item-wrapper">
                            <div class="portfolio-item-wrapper-left">
                                <h2>StylePress</h2>
                                <span class="portfolio-category">PSD Templates</span>
                                <p class="shop-item-desc font-primary">StylePress is premium News. Magazine and Blog PSD Template. It comes with 10 Homepage Variations, 6 Single Post Variations and Lots of other Page Templates. Its Best for Newspaper, Magazine, Blog.</p>
                                <p class="portfolio-item-price">$70<sup>00</sup></p>
                                <span class="portfolio-item-sales">87 Sales</span>
                                <div class="portfolio-item-wrapper-left-footer">
                                    <button class="btn btn-buy"><i class="pe-7s-cart"></i> Buy now</button>
                                    <button class="btn">Screenshots</button>
                                </div>
                            </div>
                            <div class="portfolio-item-wrapper-right">
                                <img class="img-fluid" src="img/shop-image-2.jpg" alt="" data-rjs="2">
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item shop-item white-box" data-portfolio="php">
                        <div class="portfolio-item-wrapper">
                            <div class="portfolio-item-wrapper-left">
                                <h2>StylePress</h2>
                                <span class="portfolio-category">PSD Templates</span>
                                <p class="shop-item-desc font-primary">StylePress is premium News. Magazine and Blog PSD Template. It comes with 10 Homepage Variations, 6 Single Post Variations and Lots of other Page Templates. Its Best for Newspaper, Magazine, Blog.</p>
                                <p class="portfolio-item-price">$70<sup>00</sup></p>
                                <span class="portfolio-item-sales">87 Sales</span>
                                <div class="portfolio-item-wrapper-left-footer">
                                    <button class="btn btn-buy"><i class="pe-7s-cart"></i> Buy now</button>
                                    <button class="btn">Screenshots</button>
                                </div>
                            </div>
                            <div class="portfolio-item-wrapper-right">
                                <img class="img-fluid" src="img/shop-image-3.jpg" alt="" data-rjs="2">
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item shop-item white-box" data-portfolio="prestashop">
                        <div class="portfolio-item-wrapper">
                            <div class="portfolio-item-wrapper-left">
                                <h2>StylePress</h2>
                                <span class="portfolio-category">PSD Templates</span>
                                <p class="shop-item-desc font-primary">StylePress is premium News. Magazine and Blog PSD Template. It comes with 10 Homepage Variations, 6 Single Post Variations and Lots of other Page Templates. Its Best for Newspaper, Magazine, Blog.</p>
                                <p class="portfolio-item-price">$70<sup>00</sup></p>
                                <span class="portfolio-item-sales">87 Sales</span>
                                <div class="portfolio-item-wrapper-left-footer">
                                    <button class="btn btn-buy"><i class="pe-7s-cart"></i> Buy now</button>
                                    <button class="btn">Screenshots</button>
                                </div>
                            </div>
                            <div class="portfolio-item-wrapper-right">
                                <img class="img-fluid" src="img/shop-image-4.jpg" alt="" data-rjs="2">
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item shop-item white-box" data-portfolio="wp">
                        <div class="portfolio-item-wrapper portfolio-item-default">
                            <div class="portfolio-item-wrapper-left">
                                <h2>StylePress</h2>
                                <span class="portfolio-category">PSD Templates</span>
                                <p class="shop-item-desc font-primary">StylePress is premium News. Magazine and Blog PSD Template. It comes with 10 Homepage Variations, 6 Single Post Variations and Lots of other Page Templates. Its Best for Newspaper, Magazine, Blog.</p>
                                <p class="portfolio-item-price">$70<sup>00</sup></p>
                                <span class="portfolio-item-sales">87 Sales</span>
                                <div class="portfolio-item-wrapper-left-footer">
                                    <button class="btn btn-buy"><i class="pe-7s-cart"></i> Buy now</button>
                                    <button class="btn">Screenshots</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</main>
<!-- end MAIN -->